<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	colors="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
>

	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<clover outputFile="build/logs/clover.xml"/>
			<html
				outputDirectory="build/logs/coverage-report"
			/>
			<text
				outputFile="php://stdout"
				showUncoveredFiles="true"
				showOnlySummary="true"
			/>
		</report>
	</coverage>
</phpunit>
