services:
  -
    class: Mhujer\PHPStanConsistence\Rules\ClassShouldNotUseObjectPrototypeRule
    tags:
      - phpstan.rules.rule
  -
    class: Mhujer\PHPStanConsistence\Rules\ConsistenceFunctionWrappersAreUsedRule
    tags:
      - phpstan.rules.rule
